doctype html
html(lang='en')
  head
    include pug/head
    title Trufla Task

  body
    header.header
      include pug/navbar
    main.page
      section.hero-section.d-flex.align-items-center
        .hero-content.w-100
          .container
            .row
              .col-8
                h1.welcome-title Welcome to truWeb Templates
              .col-md-8.col-12
                p.content-text In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristi.
                button.btn.btn-primary Get a Quote
      section.team-section
        .container
          h2.h1.section-title.text-center (H2) Our Team
          .row
            - for (var i = 0; i < 3; ++i) {
              .col-md-4.col-sm-6.text-center
                .card
                  img.card-img-top(src="images/team-member.jpg" title="Name Member" width="356" height="279")
                  .card-body
                    h3.card-name name
                    p.card-title title
                    p.card-phone 555-555-555
                    p.card-email.text-uppercase email@email.com
                    p.card-links #[a.linked-in(href="https://www.linkedin.com/") linkedin]
            -}
      section.section-three
        .container
          .row
            .col-md-10.mx-auto

              .block-content
                h3.block-title.heading-x5 (H3)Heading
                p.block-text (Body Copy) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.

              .block-content
                h3.block-title.heading-x4 (H3)Heading
                p.block-text (Body Copy) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.


              .block-content
                .featured-list
                  ul.list-unstyled
                    each li in ['(H5) Something goes here','Something goes here','Something goes here']
                      li #[i.icon.fa.fa-check] #[span.text=li]

      footer.footer
        include pug/scripts