@import "./scss_utilites/_style.scss";

// Start Global Style
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 1170px;
}

section {
  padding: $padding-v;
}

.section-title {
  color: $dark-color;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 50px;
}

// End Global Style

// Start Navbar Style
.header {
  .navbar {
    height: 80px;
    padding: 9px 0;
    .navbar-nav {
      li {
        padding-left: 15px;
        padding-right: 15px;
        &.nav-item:last-child {
          padding-right: 0;
        }
        .nav-link {
          color: $dark-color;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          &hover {
            color: $main-color;
          }
        }
        .btn {
          @include btn;
          height: 50px;
          line-height: 50px;
          padding: 0 30px;
          max-width: 160px;
          font-weight: bold;
        }
      }
    }
  }
  .space-section {
    height: 50px;
    background-color: $secondry-color;
  }
}
// End Navbar Style

// Start Hero Section
.hero-section {
  padding: $padding-v;
  background-image: url("./../images/heroimg.jpg");
  min-height: $hero-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .welcome-title {
    color: #ffffff;
    font-size: 66px;
    font-weight: bold;
    line-height: 80px;
  }
  .content-text {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 64px;
    font-weight: 400;
  }
  .btn {
    @include btn;
  }
}
// End Hero Section

// Start Team Section
.team-section {
  background-color: $light-color;
  .card {
    background-color: #ffffff;
    margin-bottom: 30px;
    img {
      height: 283px;
      object-fit: cover;
    }
    .card-body {
      padding: 30px 20px;
      .card-name,
      .card-title {
        color: $dark-color;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 900;
      }
      .card-title {
        margin-bottom: 30px;
        font-weight: normal;
      }
      .card-phone,
      .card-email,
      .card-links,
      .card-links a {
        color: $main-color;
        font-size: 20px;
        font-weight: bold;
        // line-height: 20px;
        margin: 9px 0;
        background-color: #fff;
        text-transform: capitalize;
      }
      p:last-child {
        margin: 0;
      }
    }
  }
}
// End Team Section

// Section Tree
.section-three {
  padding-top: 70px;
  padding-bottom: 160px;
  .block-content {
    margin-bottom: 55px;
    .block-title {
      color: $dark-color;
      font-weight: bold;
      line-height: 48px;
      margin-bottom: 25px;
    }
    .block-text {
      color: $dark-color;
      font-family: "Open Sans";
      font-size: 20px;
      line-height: 34px;
    }
    .featured-list li {
      font-size: 18px;
      margin-bottom: 15px;
      .icon {
        height: 24px;
        width: 24px;
        background-color: #6f759d;
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
      }
      .text {
        color: #42415b;
        font-weight: bold;
        line-height: 28px;
        font-size: 18px;
        margin: 6px;
      }
    }
  }
}

//==========================
// Start Media Query
//==========================

// Portrait tablets and small desktops
@media (max-width: 991px) {
  .container,
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 12px;
    padding-left: 12px;
  }
  // Start Header
  .navbar-nav {
    // display: flex !important;
    flex-direction: row;
  }
  .header .navbar .navbar-nav li{
    padding: 0 10px ;
  }
}

// Start Tablet Screen
@media (max-width: 768px) {
  // Global Style
  .navbar-expand-lg > .container,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .navbar .navbar-nav li {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .section-title {
    font-size: 30px;
  }
  // Hero Section
  .hero-section {
    text-align: center;

    .col-8 {
      margin: auto;
    }
    .welcome-title {
      font-size: 38px;
      line-height: 50px;
      text-align: center;
    }
    .content-text {
      margin-top: 30px;
    }
  }
  .section-three {
    padding-bottom: 113px;
    .block-content {
      .heading-x5 {
        font-size: 28px;
        margin-bottom: 17px;
        & + .block-text {
          font-size: 20px;
        }
      }
      .heading-x4 {
        font-size: 22px;
        margin-bottom: 15px;
        & + .block-text {
          font-size: 18px;
        }
      }
    }
  }
}

.footer {
  .scroll-top {
    background-color: $main-color;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border-radius: 4px;
    display: none;
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
      background-color: $dark-color;
    }
  }
}


// Start Portrait phones and smaller
@media (max-width: 480px) {
  // Global Style
  .navbar-expand-lg > .container,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  // Start Navbar Style
  .header {
    .navbar {
      height: 60px;
      padding: 0;
      .navbar-nav {
        li {
          padding-left: 6px;
          padding-right: 6px;
          .icon {
            font-size: 18px;
          }
          .btn {
            min-width: 70px !important;
            height: 40px !important;
            line-height: 40px;
          }
        }
      }
    }
  }

  .hero-section {
    padding: 50px 0 !important;
    min-height: 460px;
    .hero-content {
      align-items: center;
      .col-8 {
        text-align: center;
        margin: auto;
        .welcome-title {
          margin: 0;
        }
      }
      .content-text {
        margin-bottom: 30px;
      }
    }
  }
  .team-section {
    padding-top: 50px !important;
    padding-bottom: 10px;
  }
  .section-three {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}