// Required meta tags
meta(charset='utf-8')
// Meta - Description
meta(name="description" content="A description of the page")
// Meta - Keywords
meta( name="keywords" content="HTML, CSS, JavaScript")
// Meta - Author
meta( name="author" content="Mamdouh Ramadan")
// Meta - Theme Color
meta(name="theme-color" content="#42415b")
// Meta - Viewport
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
//- // Normalize CSS
//- link(rel='stylesheet' href='css/normalize.css' )
//- // Reset Min CSS
//- link(rel='stylesheet' href='css/reset.min.css' )
//- // Bootstrap CSS
//- link(rel='stylesheet' href='css/bootstrap.min.css' )
//- // Fontawesone CSS
//- link(rel='stylesheet' href="css/font-awesome.min.css")
// Main Libraries CSS
link(rel='stylesheet' href='css/libs.css')
// Main Style CSS
link(rel='stylesheet' href='css/main.css')
link(rel="apple-touch-icon" href="images/android-chrome-192x192.png.png")

link(rel="canonical" href="https://mamdouhramadan.github.io/design-task/prod/index.html")