include variables

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='#' tabindex="0") #[img(src='./images/logo-placeholder.svg' aria-label="Home "  alt="Website Logo" width="116" height="40")]
    #navbarSupportedContent
      ul.navbar-nav.ml-auto
        each val in navLink 
          li.nav-item.d-none.d-md-flex.align-items-center
            a.nav-link(tabindex="0" href='#' alt="val")= val
              
        each val,index in otherLinks 
          li.nav-item.d-flex.align-items-center
            a.nav-link.d-flex.align-items-center(tabindex="0" alt="Phone Number" href='tel:'+ val.number)
              //- i(class="icon mx-2 " + val.icon)
              img(class="icon mx-2" src="./images/phone-icon.svg" alt="Phone Number")
              span(class="text d-none d-sm-inline-block d-md-inline-block d-lg-inline-block")= val.number
        li.nav-item.d-flex.align-items-center
          a.nav-link.btn(tabindex="0" role="button") Get #[span(class="d-none d-sm-inline d-md-inline d-lg-inline") a Quote]

div.space-section.d-none.d-md.block